#actualité{
  margin: auto;
}

#leboncoinGrand, #leboncoinPetit{
  font-size: 1.2em;
}

#NPC:hover, #Picardie:hover{
  background-color: red
}

#bloclien>.row>.col-3>ul, footer>.row>.col-3>ul{
  padding:0;
}

#bloclien>.row>.col-3>ul>li{
  list-style-type: none;
}

header, #boutonConnection{
  background-color: rgb(236, 105, 9);
}

h5{
  border-bottom: 1px solid black;
}

footer h5{
  border-bottom: 1px solid white;
}

#textlien{
  text-align: center;
}

#partenaire{
  border-top: 1px solid white;
}

#logofacebook, #logotwitter{
  width: 50px;
}

#imageApp, #imagePlay{
  width: 150px;
  margin-top: 10px;
}

#boutonConnection{
  width: 120px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#boutonConnection>img{
  width: 20px;
}

#boutonRechercher{
  background-color: white;
  border: 1px solid blue;
  border-radius: 10px;
}

#boutonRechercher:hover{
  background-color: rgb(191, 202, 250);
}

#boutonannonce>img{
  width: 20px;
}

#boutonannonce{
  border-radius: 10px;
  border: 0;
}

#boutonRechercher>img{
  width: 20px;
}

#listDepartement{
  padding: 0;
}

#listDepartement>li{
  list-style-type: none;
}

#tailleMap{
  width: 100%;
}

footer>.row>.col-3>ul>li{
  list-style-type: none;
}

footer{
  background-color: rgb(55, 55, 55);
}

#drapeaufr{
  width: 10%;
}

#partenaire{
  color:white;
}
